.banner-container {
    margin-top: 60px;
    display: grid;
    grid-template-columns: 750px 360px;
    grid-template-rows: auto;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    grid-template-areas:
        "aa ab"
        "aa ac";

}

.banner-main {
    position: relative;
    height: 100%;
}

.img-banner {
    width: 100%;
    height: 100%;
}

.banner-main:first-child {
    height: 750px !important;
    grid-area: aa;
    grid-row-start: 1;
    grid-row-end: 3;
}

.banner-main:first-child .banner-tille-1 {
    position: absolute;
    top: 47%;
    left: 37%;
    font-size: 80px;
    color: #e1e1e1;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.banner-main:first-child .banner-tille-2 {
    font-size: 30px;
    text-align: right;
    bottom: 0;
    left: 0;
    right: 12.5%;
    top: 58.5%;
    z-index: 1;
    position: absolute;
    font-family: 'Pacifico', cursive;
}

.banner-main:first-child .banner-tille-btn {
    left: 73%;
    top: 65%;
    z-index: 1;
    width: 110px;
    height: 40px;
    position: absolute;
    border: 1px solid #8262b5;
    background: #8262b5;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.banner-main:nth-child(2) {
    height: 360px !important;
    grid-area: ab;
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 2;
    grid-column-end: 3;
}

.banner-main:nth-child(2) .banner-tille-1 {
    text-align: left;
    font-weight: 400;
    top: 40%;
    left: 16%;
    z-index: 1;
    position: absolute;
    color: #616161;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2.8px;
}

.banner-main:nth-child(2) .banner-tille-2 {
    text-align: left;
    top: 51%;
    left: 16%;
    z-index: 1;
    position: absolute;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
}

.banner-main:nth-child(2) .banner-tille-btn {
    left: 45%;
    top: 65%;
    z-index: 1;
    width: 110px;
    height: 40px;
    position: absolute;
    border: 1px solid #8262b5;
    background: #8262b5;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}

.banner-main:last-child {
    height: 360px !important;
    grid-area: ac;
    grid-row-start: 2;
    grid-row-end: 3;
}

.banner-main:last-child .banner-tille-1 {
    text-align: left;
    font-weight: 400;
    left: 11%;
    top: 35%;
    z-index: 1;
    position: absolute;
    color: #616161;
    font-size: 16px;
    letter-spacing: 3px;
    font-family: 'Montserrat', sans-serif;
}

.banner-main:last-child .banner-tille-2 {
    text-align: left;
    left: 11%;
    top: 41%;
    z-index: 1;
    position: absolute;
    font-size: 20px;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

/* .banner-main:last-child .banner-tille-2 p:nth-child(1) {
    color: red;
} */

.banner-main:last-child .banner-tille-btn {
    left: 45%;
    top: 65%;
    z-index: 1;
    width: 110px;
    height: 40px;
    position: absolute;
    border: 1px solid #8262b5;
    background: #8262b5;
    color: #ffffff;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
}